In [14]:
list = [5,4,17,19,30,2,7,10,45]

In [23]:
#Q1: Write a Python program to sum all the items in the list.
total=0

for val in list:
  total=total+val
print(total)

139

In [22]:
#Q2: Write a Python program to get the largest number from the list.
larg=0
for i in list:
  if i > larg:
    larg=i
    continue
print(larg)

45

In [ ]:
#Q3: Use list comprehension, create a new list from the above list containing only even numbers.

In [18]:
list_new =[i for i in list if i%2==0]
print(list_new)

[4, 30, 2, 10]

In [21]:
#Q4: Use list slicing to get a new list from the previous list starting from the start to the 5th element in the list.
slice_list=list[:5]
print(slice_list)

[5, 4, 17, 19, 30]